body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(42, 35, 103);
}

h3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 10px;
  color: rgb(42, 35, 103);
}

.call__btn {
  color: rgb(107, 90, 249);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
}

.call__checkbox {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}

.form__text {
  color: rgb(155, 143, 255);
}

.politics {
  color: rgb(255, 255, 255);
}

.application__form > p {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.application__label {
  color: rgb(126, 126, 126);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.application__button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}

.description > p {
  color: rgb(152, 149, 180);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  width: 80%;
  align-self: center;
}

.business__text {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.company__background {
  border-radius: 20px;
  background-color: rgb(244, 248, 255);
  margin-left: 14px;
  margin-right: 6px;
}

.call__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  width: 259px;
  height: 44px;
  margin-bottom: 21px;
  padding-top: 20px;
}

.call__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  width: 277px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.call__input {
  color: rgba(255, 255, 255, 0.4);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}

h4 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(42, 35, 103);
  margin-top: 100px;
  margin-bottom: 30px;
  padding-left: 12px;
}

h5 {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 12px;
  margin-bottom: 30px;
}

.step__text {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 12px;
  margin-bottom: 35px;
  padding-right: 28px;
}

.step__number {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.step__title {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.company__title {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 40px;
}

.company__text {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}

.accent__text {
  color: rgb(107, 90, 249);
  font-weight: 700;
}

.paragraph__one {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.paragraph__two {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 137.4%;
  letter-spacing: 0%;
  text-align: center;
}

.paragraph__two > span {
  font-weight: 500;
}

.price,
.price__two,
.price__three {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.submenu__item > a {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
}

.submenu__contacts-container {
  width: 178px;
  height: 98px;
  color: rgb(107, 90, 249);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
}

.submenu__contacts > a {
  text-align: center;
  color: rgb(107, 90, 249);
}

.advantages__title {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.advantages__info {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(42, 35, 103);
}

.list__name {
  color: rgb(107, 90, 249);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  list-style-type: none;
  padding-left: 10px;
}

.list {
  padding-left: 30px;
}

.list > li {
  padding: 0;
  list-style-type: disc;
}

.list > ::marker {
  font-size: 28px;
  color: rgb(42, 35, 103);
}

.prize__title {
  color: rgb(159, 159, 159);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}

.prize__text {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}

.footer__call {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
}

.footer__text {
  text-align: center;
}

.footer__address {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  width: 310px;
}

.footer__contact {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  width: 138px;
}

.footer__copywrite {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  gap: 15px;
}

.footer__copywrite > a {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}

.footer__copywrite > a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid #fff3;
}

@media (min-width: 768px) and (max-width: 1149px) {
  h1,
  h4,
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .paragraph__one {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .paragraph__one > .accent__text {
    font-weight: 700;
  }
  .paragraph__two {
    font-size: 12px;
    font-weight: 600;
    line-height: 137%;
    text-align: left;
  }
  .paragraph__two > .accent__text {
    font-weight: 600;
  }
  .footer__copywrite > p {
    width: 435px;
  }
  .title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(42, 35, 103);
  }
  .footer__text-container {
    display: flex;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .footer__text {
    text-align: left;
  }
  .footer__address {
    text-align: left;
  }
  .step__title {
    font-size: 24px;
  }
  .step__text {
    font-size: 18px;
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .description > p {
    width: 411px;
  }
}

@media (min-width: 1150px) {
  .call__button {
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    color: rgb(255, 255, 255);
  }
  .navigation__item {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgb(42, 35, 103);
  }
  .phone {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0%;
    text-decoration: none;
    color: rgb(42, 35, 103);
  }
  .phone__time {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  h1,
  h3 {
    width: 653px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 15px;
  }
  .description > p {
    width: 411px;
    color: rgb(152, 149, 180);
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .paragraph__one {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .paragraph__two {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 137.4%;
    letter-spacing: 0%;
    text-align: left;
    width: 472px;
    height: 77px;
  }
  .paragraph__two > .accent__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 137.4%;
    letter-spacing: 0%;
    text-align: left;
  }
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(42, 35, 103);
  }
  .advantages__title {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  .advantages__info {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  .title {
    display: block;
  }
  .step__title {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  h4,
  h5 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
  }
  .business__text {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .step__number {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
  }
  .step__text {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 75px;
    margin-bottom: 130px;
  }
  .step__image {
    padding-left: 15px;
  }
  .company__title {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
  }
  .company__text {
    color: rgb(42, 35, 103);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .call__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
  }
  .call__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .call__input {
    color: rgba(255, 255, 255, 0.4);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .form__label {
    font-family: Montserrat;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .footer__text {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
  }
  .footer__address {
    text-align: left;
  }
  .footer__copywrite > p {
    text-align: center;
  }
  .footer__mail {
    color: rgb(107, 90, 249);
  }
  .politics {
    color: rgb(255, 255, 255);
  }
}
