@media (min-width: 768px) and (max-width: 1150px) {
  .logo__img {
    width: 177px;
    height: 55px;
  }
  .call__containter,
  .call__button {
    width: 62px;
    height: 38px;
  }
  .paragraph_two {
    text-align: left;
  }
  .burger {
    width: 41px;
    height: 22px;
  }
  .navigation__container {
    padding-left: 41px;
    padding-right: 32px;
    padding-top: 23px;
  }
  .background__img {
    display: flex;
    order: 2;
  }
  .img__container {
    display: flex;
    order: 2;
  }
  .price {
    width: 275px;
    height: 60px;
    margin-bottom: 10px;
  }
  .main__text {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
  }
  .price__container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .main__section {
    display: flex;
    justify-content: flex-start;
  }
  .main__section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    gap: 24px;
    transform: scale(0);
  }

  .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 28px;
  }

  .submenu__item {
    text-align: center;
  }

  .close {
    width: 14px;
    height: 14px;
    align-self: start;
    margin-left: 14px;
    margin-top: 24px;
  }

  .submenu__contacts-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 605px;
    gap: 32px;
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .background__img {
    display: flex;
    order: 2;
    width: 90%;
  }
  .img__container {
    display: flex;
    order: 2;
    position: relative;
    bottom: 30px;
    right: 50px;
  }
}
