@media (min-width: 1150px) {
  menu,
  .burger__menu {
    display: none;
  }
  body {
    margin: 0 auto;
  }
  header {
    padding-top: 20px;
    padding-bottom: 45px;
    max-width: 1280px;
    margin: 0 auto;
  }
  .main {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
    margin: 0 auto;
  }
  aside {
    max-width: 1280px;
    margin: 0 auto;
  }
  section {
    max-width: 1280px;
    margin: 0 auto;
  }
  .burger,
  .mobile__button {
    display: none;
  }
  .logo,
  .logo__img {
    width: 182px;
    height: 55px;
  }
  .logo {
    display: flex;
    justify-self: center;
  }
  .social__contact,
  .phone,
  .phone__time,
  .navigation__item {
    display: flex;
  }
  .phone__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .social__container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .phone__time {
    display: flex;
    align-self: flex-end;
  }
  .call__button {
    width: 177px;
    height: 60px;
    text-indent: 0;
    text-transform: none;
  }
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }
  .navigation__container {
    padding: 0;
    display: grid;
    grid-template-columns: 181px 1fr auto;
    align-content: center;
    align-items: center;
  }
  .social {
    display: flex;
    gap: 10px;
    align-items: start;
  }
  .whatsapp,
  .telegram {
    display: flex;
    align-self: flex-start;
    padding-top: 5px;
  }
  .application {
    width: 766px;
    height: 498px;
  }
  .price {
    width: 275px;
    height: 60px;
  }
  .price__container {
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
  }
  .main__text {
    align-items: flex-start;
  }
  .main__section {
    display: flex;
  }
  .img__container {
    order: 2;
  }
  .main__section-two {
    gap: 150px;
  }
  .background__img,
  .img__container {
    position: relative;
    bottom: 150px;
    z-index: -1;
  }
  .main__text {
    width: 500px;
  }
  .advantages__item {
    width: 373px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
  }
  .advantages__title,
  .advantages__info,
  .advantages__number {
    padding-left: 15px;
    padding-right: 39px;
  }
  .advantages__title::after {
    display: block;
    background-color: rgb(227, 117, 117);
    content: "";
    top: 5px;
    height: 2px;
    width: 175px;
    position: relative;
    margin-bottom: 9px;
  }
  .advantages {
    margin-top: 54px;
  }
  .advantages__number {
    content: "01";
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: left;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  }
  .swiper-slide:nth-child(4),
  .swiper-slide:nth-child(5),
  .swiper-slide:nth-child(6) {
    display: none;
  }
  .swiper__button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    transition: 500ms;
  }
  .swiper-slide {
    width: auto !important;
    height: auto !important;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper {
    overflow: visible !important;
    height: 100%;
    width: 100%;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 54px;
    justify-content: center;
  }
  .price__two {
    display: block;
    margin: 0 auto;
    width: 275px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background: rgb(107, 90, 249);
    margin-top: 30px;
    margin-bottom: 165px;
  }
  .price__three {
    margin-bottom: 150px;
  }
  .list__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .list__block:first-child {
    order: 0;
  }
  .list__block:nth-child(2) {
    order: 1;
  }
  .list__block:nth-child(3) {
    order: 4;
  }
  .list__block:nth-child(4) {
    order: 3;
  }
  .list__block:nth-child(5) {
    order: 4;
  }
  .list__block:nth-child(6) {
    order: 6;
  }
  .list__block:nth-child(7) {
    order: 7;
  }
  .list__block:nth-child(8) {
    order: 6;
  }
  .list__block {
    align-self: center;
  }
  .phone_1,
  .phone_2,
  .laptop_1,
  .laptop_2 {
    width: 90%;
    height: 90%;
  }
  .business__container {
    display: flex;
  }
  .prize {
    max-width: 1280px;
    margin: 0 auto;
  }
  .business__img > img {
    width: 667px;
    height: 556px;
  }
  .step__number {
    width: 53px;
    height: 53px;
  }
  .step__header {
    display: flex;
    gap: 126px;
    padding-left: 60px;
  }
  .step__image__one__laptop {
    display: none;
  }
  .step__image__one {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
    width: 1041.92px;
    height: 775px;
  }
  .step__image__two {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
    width: 1064.49px;
    height: 792px;
  }
  .step__image__three {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 1080.12px;
    height: 300px;
  }
  .step__image__four {
    display: block;
    margin: 0 auto;
    margin-bottom: 57px;
    width: 1080.12px;
    height: 332px;
  }
  .business {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
  }
  .business__picture {
    display: block;
    width: 100vw;
    height: auto;
    object-fit: contain;
  }
  .call__btn {
    width: 341px;
    height: 60px;
  }
  .company__background {
    display: grid;
    grid-template-columns: 1fr 500px;
    column-gap: 44px;
    align-items: baseline;
    padding-left: 60px;
    padding-right: 60px;
    /* display: flex;
    flex-direction: row;
    column-gap: 44px; */
  }
  .call {
    width: 472px;
    margin-bottom: 187px;
    margin-top: 70px;
  }
  .call__title {
    padding: 0;
    margin-top: 50px;
    width: 345px;
  }
  .call__text {
    padding: 0;
    margin-top: 75px;
  }
  .call__input {
    margin: 0;
  }
  .company__title span {
    display: block;
    text-align: left;
  }
  .company__title {
    text-align: left;
    padding-left: 20px;
  }
  .company__text {
    padding-left: 20px;
  }
  .background__picture-five {
    width: 430px;
    height: 219px;
    top: 75%;
    position: absolute;
  }
  .background__picture-one {
    width: 149px;
    height: 149px;
    left: 275px;
  }
  .background__picture-four {
    width: 110px;
    height: 110px;
    top: 94%;
    left: 88%;
  }
  .background__picture-two {
    width: 59px;
    height: 58px;
    top: 40%;
    left: 95%;
    transform: rotate3d(1, 1, 1, 45deg);
  }
  .background__picture-three {
    position: absolute;
    width: 58px;
    height: 57px;
    left: -48%;
    top: 279%;
  }
  .footer__block:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__call {
    align-self: flex-end;
    margin: 0;
    width: 341px;
    height: 60px;
  }
  .footer__block:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    flex-direction: row-reverse;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .footer__messanger {
    margin-top: 40px;
  }
  .footer__text-container {
    border-bottom: 1px solid rgb(107, 90, 249);
  }
  .footer__text {
    border-bottom: 0;
  }
  .business {
    overflow: hidden;
  }
  .footer__copywrite {
    width: 500px;
  }
}
