@media (min-width: 768px) and (max-width: 1150px) {
  .logo__img {
    width: 177px;
    height: 55px;
  }
  .call__containter,
  .call__button {
    width: 62px;
    height: 38px;
  }
  .paragraph_two {
    text-align: left;
  }
  .burger {
    width: 41px;
    height: 22px;
  }
  .navigation__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 23px;
  }
  .background__img {
    display: flex;
    order: 2;
  }
  .home {
    padding-left: 15px;
  }
  .img__container {
    display: flex;
    order: 2;
  }
  .application {
    width: 532px;
    height: 498px;
  }
  .price {
    width: 275px;
    height: 60px;
    margin-bottom: 10px;
  }
  .main__text {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
  }
  .price__container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .main__section {
    display: flex;
    justify-content: flex-start;
  }
  .main__section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    gap: 24px;
    transform: scale(0);
  }

  .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 28px;
  }

  .submenu__item {
    text-align: center;
  }

  .footer__call {
    grid-column: 2;
    width: 341px;
    height: 60px;
    justify-self: start;
    align-self: end;
    margin-bottom: 23px;
    margin-left: 10px;
  }
  .close {
    width: 14px;
    height: 14px;
    align-self: end;
    margin-right: 14px;
    margin-top: 24px;
  }
  .swiper-slide:nth-child(3),
  .swiper-slide:nth-child(4),
  .swiper-slide:nth-child(5),
  .swiper-slide:nth-child(6) {
    display: none;
  }
  .submenu__contacts-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 605px;
    gap: 32px;
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(163, 161, 161, 0.85);
    z-index: 6;
  }
  .advantages__item {
    width: 364px;
    height: 200px;
  }
  .swiper-pagination {
    display: none;
  }

  .test {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 190px;
    row-gap: 54px;
  }
  .swiper {
    overflow: visible !important;
    height: 100%;
    width: 100%;
  }
  .swiper-wrapper.test {
    column-gap: 21px;
    row-gap: 40px;
  }

  .swiper-wrapper.test > .swiper-slide {
    width: max-content !important;
  }
  /* .wrapper-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 20px;
    row-gap: 54px;
    overflow: hidden;
  } */
  /* .swiper-slide {
    width: auto !important;
  } */
  .swiper__button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    transition: 500ms;
  }
  .list__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .list__block:first-child {
    order: 0;
  }
  .list__block:nth-child(2) {
    order: 1;
  }
  .list__block:nth-child(3) {
    order: 4;
  }
  .list__block:nth-child(4) {
    order: 3;
  }
  .list__block:nth-child(5) {
    order: 4;
  }
  .list__block:nth-child(6) {
    order: 6;
  }
  .list__block:nth-child(7) {
    order: 7;
  }
  .list__block:nth-child(8) {
    order: 6;
  }
  .gold {
    width: 185px;
    height: 228px;
  }
  .prize__img {
    width: 429px;
    height: 607px;
  }
  .business__container {
    display: flex;
  }
  .step__image__one {
    display: none;
  }
  .step__image__one__laptop {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
    width: 591px;
    height: 764px;
  }
  .step__image__two {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
    width: 613px;
    height: 792px;
  }
  .step__image__three {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 717px;
    height: 300px;
  }
  .step__image__four {
    display: block;
    margin: 0 auto;
    margin-bottom: 57px;
    width: 716px;
    height: 332px;
  }
  .business__picture {
    width: 100vw;
    height: auto;
  }
  .background__picture-one {
    width: 146px;
    height: 146px;
  }
  .background__picture-three {
    top: 199%;
    left: -71%;
  }
  .background__picture-two {
    left: 90%;
    top: 38%;
    overflow: hidden;
    height: 79px;
  }
  .background__picture-four {
    top: 87%;
    left: 85%;
  }
  .background__picture-five {
    width: 335px;
    height: 171px;
    margin-bottom: 32px;
  }

  .footer__block:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer__call {
    align-self: flex-end;
    margin: 0;
  }
  .footer__block:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    flex-direction: row-reverse;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .footer__text-container {
    border-bottom: 1px solid rgb(107, 90, 249);
  }
  .footer__text {
    border: 0;
  }
  .business {
    overflow: hidden;
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .background__img {
    display: flex;
    order: 2;
    width: 90%;
  }
  .img__container {
    display: flex;
    order: 2;
    position: relative;
    bottom: 30px;
    right: 50px;
  }
}
