body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding-left: 140px;
  max-width: 1280px;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 27px;
}

.navigation__container {
  display: flex;
  align-items: center;
  padding-top: 35px;
  justify-content: space-between;
  gap: 50px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 27px;
  padding: 0px;
}

.navigation__item {
  list-style-type: none;
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.navigation__link {
  text-decoration: none;
}

.social {
  display: flex;
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: right;
  list-style-type: none;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.social__contact {
  margin-bottom: 24px;
}

.telegram {
  margin-right: 10px;
}

h1 {
  font-family: Montserrat;
  width: 653px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 70px;
  padding-bottom: 30px;
}

main {
  position: absolute;
  color: rgb(42, 35, 103);
  margin: 0;
}

h1 > span {
  color: rgb(107, 90, 249);
  padding-bottom: 33px;
  padding-top: 67px;
}

.paragraph__one {
  font-family: Montserrat;
  width: 619px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(42, 35, 103);
  padding-bottom: 116px;
}

p > span {
  color: rgb(107, 90, 249);
  font-weight: 700;
}

.paragraph__two {
  font-family: Montserrat;
  font-size: 14px;
  width: 472px;
  font-weight: 600;
  line-height: 137.4%;
  letter-spacing: 0%;
  text-align: left;
}

.price {
  width: 275px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: rgb(107, 90, 249);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

.call__button {
  width: 177px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  background-color: rgb(107, 90, 249);
  border: none;
  border-radius: 5px;
  list-style-type: none;
}

.phone {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  list-style-type: none;
}

.phone__time {
  color: rgb(42, 35, 103);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  list-style-type: none;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(3);
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.background__img {
  position: absolute;
  width: 855px;
  height: 569px;
  left: 400px;
  top: -50px;
  z-index: -1;
}

.burger,
.mobile__button {
  display: none;
}

@media (max-width: 769px) {
  .navigation__list,
  .social__contact,
  .phone,
  .phone__time {
    display: none;
  }
  .navigation__container {
    width: 786px;
    padding-left: 41px;
    padding-right: 32px;
    padding-top: 23px;
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    width: 768px;
    height: 62px;
  }
  .call__button {
    display: block;
    text-indent: -9999em;
    text-transform: uppercase;
    border-radius: 5px;
    width: 62px;
    height: 38.75px;
  }
  .logo {
    width: 177.61px;
    height: 55;
  }
  .burger {
    display: flex;
    width: 41px;
    height: 55px;
  }
  .call__button {
    display: flex;
  }
  .mobile__button {
    display: flex;
        padding-top: 11px;
        padding-left: 23px;
    padding-right: 17px;
      padding-bottom: 7px;
      border: none;
  }
  .background__img {
width: 569px;
height: 378px;
  }
  .background__img > img {
    position: absolute;
    width: 569px;
    height: 378px;
    left: -133px;
    right: -66px;
    top: 114px;
    bottom: 145px;
  }
  h1 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 10px;
width: 653px;
height: 29px;
  }
  .paragraph__one {
width: 356px;
height: 45px;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 54px;
padding-left: 10px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  }
  .price {
    width: 275px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .paragraph__two {
    width: 287px;
    height: 97px;
font-size: 12px;
font-weight: 600;
line-height: 137.4%;
letter-spacing: 0%;
text-align: left;
    padding-left: 11px;
    padding-top: 10px;
  }
  .paragraph__two span::after {
    content: "\A";
    white-space: pre-line;
  }
}

@media (max-width: 361px) {
  .navigation__list,
  .social__contact,
  .phone,
  .phone__time {
    display: none;
  }
  img {
    max-width: 100%;
  }
  .main__section {
    padding-left: 0;
  }
  .call__button {
    display: block;
    text-indent: -9999em;
    text-transform: uppercase;
    border-radius: 5px;
    width: 52px;
    height: 32.5px;
  }
  .logo {
    width: 113px;
  }
  .burger {
    display: flex;
    width: 41px;
    height: 20px;
  }
  .call__button {
    display: flex;
  }
  .mobile__button {
    display: flex;
    width: 16px;
    height: 16px;
    padding-top: 8px;
    padding-left: 19px;
    padding-right: 17px;
    padding-bottom: 7px;
    border: none;
  }
  .navigation__container {
    display: flex;
    width: 360px;
    padding-top: 11px;
    padding-left: 10px;
  }
  header {
    width: 360px;
    height: 62px;
    padding-left: 11px;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    padding: 0;
  }
  .background__img,
  .background__img > img {
    position: absolute;
    top: 10px;
    left: -16px;
width: 447px;
height: 299px;
  }
  h1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    width: 327px;
    height: 44px;
    line-height: 22px;
    padding-left: 10px;
    padding-top: 21px;
  }
  .paragraph__one {
    width: 356px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 250px;
    padding-left: 7px;
    padding-bottom: 50px;
    text-shadow: none;
  }
  .price {
    margin-left: 42px;
    margin-right: 43px;
    margin-bottom: 0;
  }
  .paragraph__two span::after {
    content: "\A";
    white-space: pre-line;
  }
  .paragraph__two {
    width: 340px;
    height: 97px;
    font-size: 12px;
    font-weight: 500;
    line-height: 137.4%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 9px;
  }
  p.paragraph__two > span {
    font-weight: 500;
  }
}
